/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-BG-Primary);
  border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-BG-Secondary);
  border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
